<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>RESULT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript>
        <link rel="stylesheet" href="static/css/main.css" />
    </noscript>
</head>
<body class="is-preload">
    <header id="header">
        <h1>
            <Tbody>The predicted salary of the individual is:</Tbody>
        </h1>
    </header>
    <br> <br>
    <h1>{{data}}</h1>
    <footer>
        <p>
            <h6><strong>NOTE:</strong></h6> The value may differ as this is just a project made to run flask.
        </p>
    </footer>
    <!-- Scripts -->
    <script src="static/js/main.js"></script>
 
</body>
 
</html>

 
